.SUMMARY .lectures-rectangle {
  position: relative; /* Changed to relative */
  width: 922px;
  height: 50px;
  top: 120px;
  left: 519px;
  background-color: #a0a0bf;
  border-radius: 25px;
  box-shadow: 0px 8px 8px #00000040;
  opacity: 1;
}
.SUMMARY .lectures-dropdown {
  position: absolute; /* Absolute positioning */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  opacity: 0; /* Make it invisible */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  z-index: 2; /* Ensure it's above the LECTURES text */
  color: black;
}

.SUMMARY .text-wrapper-2 {
  position: absolute;
  top: 13px;
  left: 20px;
  z-index: 1; /* Place it behind the dropdown */
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9; /* Color for the text */
  font-size: 24px; /* Font size for the text */
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none; /* This makes clicks pass through the text to the dropdown */
}

.SUMMARY .text-wrapper-2 #selectedLecture {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: none; /* Initially hidden */
  z-index: 3; /* Above the lecturesLabel */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.SUMMARY {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.SUMMARY .overlap-wrapper {
  background-color: #f0f0f0;
  overflow: hidden;
  width: 1440px;
  height: 100vh;
}

.SUMMARY .overlap {
  position: relative;
  width: 100%;
  height: 100%;
  top: -36px;
  left: -58px;
}

.SUMMARY .ellipse {
  position: absolute;
  width: 440px;
  height: 440px;
  top: 0;
  left: 392px;
  background-color: #a0a0bfb2;
  border-radius: 220px;
  filter: blur(200px);
}

.SUMMARY .div {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 544px;
  left: 0;
  background-color: #fb8cefb2;
  border-radius: 173px;
  filter: blur(300px);
}

.SUMMARY .ellipse-2 {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 765px;
  left: 392px;
  background-color: #21b7ed4c;
  border-radius: 173px;
  filter: blur(200px);
}

.SUMMARY .ellipse-3 {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 234px;
  left: 1306px;
  background-color: #21b7ed4c;
  border-radius: 173px;
  filter: blur(100px);
}

.SUMMARY .rectangle {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 36px;
  left: 58px;
  background-color: #d9d9d91a;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
}

.SUMMARY .rectangle-2 {
  position: absolute;
  width: 1040px;
  height: 800px;
  top: 36px;
  left: 458px;
  background-color: #d9d9d980;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
}

.SUMMARY .text-wrapper {
  position: absolute;
  top: 768px;
  left: 668px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #7c7c7cb2;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.SUMMARY .polygon {
  position: absolute;
  width: 28px;
  height: 31px;
  top: 13px;
  left: 885px;
}


.SUMMARY .img {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 368px;
  left: 115px;
}

.SUMMARY .rectangle-4 {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 518px;
  left: 115px;
  background-color: #8484b8;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.SUMMARY .rectangle-5 {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 670px;
  left: 117px;
  background-color: #8484b880;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.SUMMARY .text-wrapper-3 {
  position: absolute;
  top: 392px;
  left: 163px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SUMMARY .text-wrapper-4 {
  position: absolute;
  top: 541px;
  left: 163px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SUMMARY .text-wrapper-5 {
  position: absolute;
  top: 690px;
  left: 200px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SUMMARY .group {
  position: absolute;
  width: 125px;
  height: 128px;
  top: 119px;
  left: 195px;
}

.SUMMARY .overlap-group-wrapper {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 218px;
  left: 185px;
  background-color: #16b333;
  border-radius: 27.5px;
}

.SUMMARY .overlap-group {
  position: relative;
  width: 47px;
  height: 47px;
  top: 4px;
  left: 4px;
  background-color: #edecee;
  border-radius: 23.27px;
}

.SUMMARY .ellipse-4 {
  position: relative;
  width: 38px;
  height: 38px;
  top: 4px;
  left: 4px;
  background-color: #16b333;
  border-radius: 19.04px;
}

/* Style for the options in the dropdown */
.SUMMARY .lectures-dropdown option {
  background-color: #a0a0bf; /* Background color for options */
  color: white; /* Text color for options */
}

.SUMMARY .rectangle-3 {
  position: relative;
  width: 918px;
  height: 650px;
  top: 132px;
  left: 519px;
  background-color: #a5b0d633;
  border-radius: 25px;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
}