.chat .lectures-rectangle {
  position: relative; /* Changed to relative */
  width: 922px;
  height: 50px;
  top: 120px;
  left: 519px;
  background-color: #a0a0bf;
  border-radius: 25px;
  box-shadow: 0px 8px 8px #00000040;
  opacity: 1;
}

.chat .lectures-dropdown {
  position: absolute; /* Absolute positioning */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  opacity: 0; /* Make it invisible */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  z-index: 2; /* Ensure it's above the LECTURES text */
  color: black;
}

.chat .text-wrapper-2 {
  position: absolute;
  top: 13px;
  left: 20px;
  z-index: 1; /* Place it behind the dropdown */
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9; /* Color for the text */
  font-size: 24px; /* Font size for the text */
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none; /* This makes clicks pass through the text to the dropdown */
}

.chat .text-wrapper-2 #selectedLecture {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: none; /* Initially hidden */
  z-index: 3; /* Above the lecturesLabel */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.chat {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.chat .overlap-wrapper {
  background-color: #f0f0f0;
  overflow: hidden;
  width: 1440px;
  height: 100vh;
}

.chat .overlap {
  position: relative;
  width: 100%;
  height: 100%;
  top: -36px;
  left: -58px;
}

.chat .ellipse {
  position: absolute;
  width: 440px;
  height: 440px;
  top: 0;
  left: 392px;
  background-color: #a0a0bfb2;
  border-radius: 220px;
  filter: blur(200px);
}

.chat .div {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 544px;
  left: 0;
  background-color: #fb8cefb2;
  border-radius: 173px;
  filter: blur(300px);
}

.chat .ellipse-2 {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 765px;
  left: 392px;
  background-color: #21b7ed4c;
  border-radius: 173px;
  filter: blur(200px);
}

.chat .ellipse-3 {
  position: absolute;
  width: 346px;
  height: 346px;
  top: 234px;
  left: 1306px;
  background-color: #21b7ed4c;
  border-radius: 173px;
  filter: blur(100px);
}

.chat .rectangle {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 36px;
  left: 58px;
  background-color: #d9d9d91a;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
}

.chat .rectangle-2 {
  position: absolute;
  width: 1040px;
  height: 800px;
  top: 36px;
  left: 458px;
  background-color: #d9d9d980;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
}

.chat .text-wrapper {
  position: absolute;
  top: 768px;
  left: 668px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #7c7c7cb2;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.chat .boot {
  position: absolute;
  width: 100px;
  height: 111px;
  top: 920px;
  left: 1372px;
}

.chat .polygon {
  position: absolute;
  width: 28px;
  height: 31px;
  top: 13px;
  left: 885px;
}

.chat .hello {
  position: absolute;
  width: 605px;
  height: 159px;
  top: 564px;
  left: 569px;
}

.chat .overlap-group {
  position: relative;
  width: 603px;
  height: 159px;
}

.chat .XMLID {
  top: 60px;
  left: 148px;
  position: absolute;
  width: 13px;
  height: 19px;
}

.chat .overlap-group-2 {
  position: absolute;
  width: 603px;
  height: 159px;
  top: 0;
  left: 0;
}

.chat .rectangle-4 {
  position: absolute;
  width: 486px;
  height: 60px;
  top: 0;
  left: 117px;
  background-color: #a0a0bf;
  border-radius: 25px;
}

.chat .p {
  position: absolute;
  width: 433px;
  top: 14px;
  left: 148px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.chat .ellipse-4 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 29px;
  left: 0;
  background-color: #eeeeee;
  border-radius: 65px;
}

.chat .hi {
  position: absolute;
  width: 132px;
  height: 78px;
  top: 432px;
  left: 1140px;
}

.chat .overlap-2 {
  position: relative;
  width: 130px;
  height: 78px;
}

.chat .img {
  top: 59px;
  left: 98px;
  position: absolute;
  width: 13px;
  height: 19px;
}

.chat .rectangle-5 {
  position: absolute;
  width: 130px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #a0a0bf;
  border-radius: 25px;
}

.chat .text-wrapper-3 {
  position: absolute;
  top: 14px;
  left: 52px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.chat .iconly-bulk-send {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 768px;
  left: 1280px;
  z-index: 11;
}

.chat .fill {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 768px;
  left: 1314px;
  z-index: 11;
}

.chat .video {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 889px;
  left: 1257px;
}

.chat .group {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 441px;
  left: 1277px;
}

.chat .rectangle-6 {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 368px;
  left: 115px;
  background-color: #8484b8;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.chat .rectangle-7 {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 518px;
  left: 115px;
  background-color: #8484b8b2;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.chat .rectangle-8 {
  position: absolute;
  width: 277px;
  height: 96px;
  top: 670px;
  left: 117px;
  background-color: #8484b8b2;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.chat .text-wrapper-4 {
  position: absolute;
  top: 392px;
  left: 163px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.chat .text-wrapper-5 {
  position: absolute;
  top: 539px;
  left: 163px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.chat .text-wrapper-6 {
  position: absolute;
  top: 690px;
  left: 200px;
  text-shadow: 5px 5px 4px #00000040;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.chat .group-2 {
  position: absolute;
  width: 125px;
  height: 128px;
  top: 119px;
  left: 195px;
}

.chat .overlap-group-wrapper {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 218px;
  left: 185px;
  background-color: #16b333;
  border-radius: 27.5px;
}

.chat .ellipse-wrapper {
  position: relative;
  width: 47px;
  height: 47px;
  top: 4px;
  left: 4px;
  background-color: #edecee;
  border-radius: 23.27px;
}

.chat .ellipse-5 {
  position: relative;
  width: 38px;
  height: 38px;
  top: 4px;
  left: 4px;
  background-color: #16b333;
  border-radius: 19.04px;
}

.chat .group-3 {
  position: absolute;
  width: 89px;
  height: 94px;
  top: 611px;
  left: 589px;
}

/* Style for the options in the dropdown */
.chat .lectures-dropdown option {
  background-color: #a0a0bf; /* Background color for options */
  color: white; /* Text color for options */
}

.chat .rectangle-3 {
  position: relative;
  width: 918px;
  height: 700px;
  top: 132px;
  left: 519px;
  background-color: #a5b0d633;
  border-radius: 25px;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  padding-bottom: 70px; /* Add padding to ensure space for message input */
}

.chat #chat-messages-container {
  position: absolute; /* Position it inside rectangle-3 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow-y: scroll; /* Enable vertical scrolling */
  padding: 10px; /* Optional: for spacing inside the container */
}

.chat .message-rectangle {
  position: absolute;
  width: 746px;
  height: 60px;
  bottom: 0px;
  left: 605px;
  background-color: #a0a0bf66;
  border-radius: 25px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  position: relative; /* This will contain the absolute positioned input */
  z-index: 10; /* Ensure it's above the chat messages */
}

.chat #chat-form {
  width: 100%;
  height: 100%;
  position: relative;
}

.chat #chat-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  border: none;
  background: transparent;
  padding: 10px; /* Adjust as needed */
  color: transparent;
  caret-color: black; /* To show the cursor */
  color: rgb(102, 100, 100); /* Color for the text */
  font-size: medium;
  font-weight: 600;
}

.chat #chat-input::placeholder {
  color: #7c7c7cb2; /* Placeholder text color */
}